In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [10]:
dt1 = dt.datetime(2021,1,1)
dt2 = pd.Timestamp('2021-1-1')
dt3 = pd.to_datetime('2021-1-1')

In [11]:
print(dt1)
print(dt2)
print(dt3)

2021-01-01 00:00:00
2021-01-01 00:00:00
2021-01-01 00:00:00

In [12]:
dt1 == dt2 == dt3

True

In [13]:
isinstance(dt2, dt.datetime)

True

In [14]:
isinstance(dt2, pd.Timestamp)

True

In [15]:
isinstance(dt1, pd.Timestamp)

False

In [16]:
issubclass(pd.Timestamp, dt.datetime)

True

In [17]:
dates = ['2021-1-1', '2021-1-2']
pd_dates = pd.to_datetime(dates)
print(pd_dates)
print(type(pd_dates))

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [18]:
print(pd_dates[0])
print(type(pd_dates[0]))

2021-01-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [24]:
dates = ['2021-01-01',
         '2/1/2021',
         '03-01-2021',
         'April 1, 2021',
         '20210501',
         np.datetime64('2021-07-01'),# numpy datetime64
         dt.datetime(2021, 8, 1),# python datetime
         pd.Timestamp(2021,9,1) # pandas Timestamp
        ]

In [25]:
parsed_dates = pd.to_datetime(
                            dates,
                            infer_datetime_format=True,
                            errors='coerce'
                             )
print(parsed_dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

In [26]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

In [27]:
print(f'Name of Day : {parsed_dates.day_name()}')
print(f'Month : {parsed_dates.month}')
print(f'Year : {parsed_dates.year}')
print(f'Days in Month : {parsed_dates.days_in_month}')
print(f'Quarter {parsed_dates.quarter}')
print(f'Quarter Start : {parsed_dates.is_quarter_start}')
print(f'Leap Year : {parsed_dates.is_leap_year}')
print(f'Month Start : {parsed_dates.is_month_start}')
print(f'Month End : {parsed_dates.is_month_end}')
print(f'Year Start : {parsed_dates.is_year_start}')

Name of Day : Index(['Friday', 'Monday', 'Monday', 'Thursday', 'Saturday', 'Thursday',
       'Sunday', 'Wednesday'],
      dtype='object')
Month : Int64Index([1, 2, 3, 4, 5, 7, 8, 9], dtype='int64')
Year : Int64Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021], dtype='int64')
Days in Month : Int64Index([31, 28, 31, 30, 31, 31, 31, 30], dtype='int64')
Quarter Int64Index([1, 1, 1, 2, 2, 3, 3, 3], dtype='int64')
Quarter Start : [ True False False  True False  True False False]
Leap Year : [False False False False False False False False]
Month Start : [ True  True  True  True  True  True  True  True]
Month End : [False False False False False False False False]
Year Start : [ True False False False False False False False]

In [28]:
pd.date_range(start='2021-01-01', periods=3, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq='D')

In [29]:
import time
epoch_time = time.time()
print(epoch_time)
print(type(epoch_time))

1662066726.2367334
<class 'float'>

In [30]:
import pandas as pd
t = pd.to_datetime(1635220133.855169, unit='s')
print(t)

2021-10-26 03:48:53.855169024

In [31]:
t.tz_localize('UTC').tz_convert('US/Pacific')

Timestamp('2021-10-25 20:48:53.855169024-0700', tz='US/Pacific')

In [33]:
df = pd.DataFrame(
    {'unix_epoch': [1641110340,  1641196740, 1641283140, 1641369540],
     'Sales': [23000, 19020, 21000, 17030]}
    )
df

   unix_epoch  Sales
0  1641110340  23000
1  1641196740  19020
2  1641283140  21000
3  1641369540  17030

In [34]:
df['Date'] = pd.to_datetime(df['unix_epoch'], unit='s')
df['Date'] = df['Date'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')
df.set_index('Date', inplace=True)
df

                           unix_epoch  Sales
Date
2022-01-01 23:59:00-08:00  1641110340  23000
2022-01-02 23:59:00-08:00  1641196740  19020
2022-01-03 23:59:00-08:00  1641283140  21000
2022-01-04 23:59:00-08:00  1641369540  17030

In [35]:
df.index.date

array([datetime.date(2022, 1, 1), datetime.date(2022, 1, 2),
       datetime.date(2022, 1, 3), datetime.date(2022, 1, 4)], dtype=object)

In [36]:
pd.to_datetime(1635220133.855169, unit='s', origin='unix')

Timestamp('2021-10-26 03:48:53.855169024')

## convert timetamp to unix timestamp

### https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#from-timestamps-to-epoch.

In [37]:
df = pd.DataFrame( {'Date': pd.date_range('01-01-2022', periods=5), 'order' : range(5)})
df

        Date  order
0 2022-01-01      0
1 2022-01-02      1
2 2022-01-03      2
3 2022-01-04      3
4 2022-01-05      4

In [39]:
(df['Date'] - pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")

0    1640995200
1    1641081600
2    1641168000
3    1641254400
4    1641340800
Name: Date, dtype: int64

In [41]:
df = pd.DataFrame(
    {
        'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')
    }
)
df

    item               purchase_dt
0  item1 2021-01-01 00:00:00+00:00
1  item2 2021-01-02 00:00:00+00:00
2  item3 2021-01-03 00:00:00+00:00
3  item4 2021-01-04 00:00:00+00:00
4  item5 2021-01-05 00:00:00+00:00
5  item6 2021-01-06 00:00:00+00:00

In [42]:
df['expiration_dt'] = df['purchase_dt'] + pd.Timedelta(days=30)
df

    item               purchase_dt             expiration_dt
0  item1 2021-01-01 00:00:00+00:00 2021-01-31 00:00:00+00:00
1  item2 2021-01-02 00:00:00+00:00 2021-02-01 00:00:00+00:00
2  item3 2021-01-03 00:00:00+00:00 2021-02-02 00:00:00+00:00
3  item4 2021-01-04 00:00:00+00:00 2021-02-03 00:00:00+00:00
4  item5 2021-01-05 00:00:00+00:00 2021-02-04 00:00:00+00:00
5  item6 2021-01-06 00:00:00+00:00 2021-02-05 00:00:00+00:00

In [43]:
df['extended_dt'] = df['purchase_dt'] + pd.Timedelta('35 days 12 hours 30 minutes')
df

,item,purchase_dt,expiration_dt,extended_dt
0,item1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00
1,item2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00
2,item3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00
3,item4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00
4,item5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00
5,item6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00

In [44]:
df.iloc[:,1:] = df.iloc[: ,1:].apply(lambda x: x.dt.tz_convert('US/Pacific'))
df

,item,purchase_dt,expiration_dt,extended_dt
0,item1,2020-12-31 16:00:00-08:00,2021-01-30 16:00:00-08:00,2021-02-05 04:30:00-08:00
1,item2,2021-01-01 16:00:00-08:00,2021-01-31 16:00:00-08:00,2021-02-06 04:30:00-08:00
2,item3,2021-01-02 16:00:00-08:00,2021-02-01 16:00:00-08:00,2021-02-07 04:30:00-08:00
3,item4,2021-01-03 16:00:00-08:00,2021-02-02 16:00:00-08:00,2021-02-08 04:30:00-08:00
4,item5,2021-01-04 16:00:00-08:00,2021-02-03 16:00:00-08:00,2021-02-09 04:30:00-08:00
5,item6,2021-01-05 16:00:00-08:00,2021-02-04 16:00:00-08:00,2021-02-10 04:30:00-08:00

In [45]:
df['exp_ext_diff'] = (df['extended_dt'] - df['expiration_dt'])
df

,item,purchase_dt,expiration_dt,extended_dt,exp_ext_diff
0,item1,2020-12-31 16:00:00-08:00,2021-01-30 16:00:00-08:00,2021-02-05 04:30:00-08:00,5 days 12:30:00
1,item2,2021-01-01 16:00:00-08:00,2021-01-31 16:00:00-08:00,2021-02-06 04:30:00-08:00,5 days 12:30:00
2,item3,2021-01-02 16:00:00-08:00,2021-02-01 16:00:00-08:00,2021-02-07 04:30:00-08:00,5 days 12:30:00
3,item4,2021-01-03 16:00:00-08:00,2021-02-02 16:00:00-08:00,2021-02-08 04:30:00-08:00,5 days 12:30:00
4,item5,2021-01-04 16:00:00-08:00,2021-02-03 16:00:00-08:00,2021-02-09 04:30:00-08:00,5 days 12:30:00
5,item6,2021-01-05 16:00:00-08:00,2021-02-04 16:00:00-08:00,2021-02-10 04:30:00-08:00,5 days 12:30:00

In [47]:
df = pd.DataFrame(
    {
        'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC'),
        'time_deltas': pd.timedelta_range('1W 2 days 6 hours', periods=6)
    }
)
df

    item               purchase_dt      time_deltas
0  item1 2021-01-01 00:00:00+00:00  9 days 06:00:00
1  item2 2021-01-02 00:00:00+00:00 10 days 06:00:00
2  item3 2021-01-03 00:00:00+00:00 11 days 06:00:00
3  item4 2021-01-04 00:00:00+00:00 12 days 06:00:00
4  item5 2021-01-05 00:00:00+00:00 13 days 06:00:00
5  item6 2021-01-06 00:00:00+00:00 14 days 06:00:00

In [51]:
df = pd.DataFrame(
    {
        'Location': ['Los Angeles',
                     'New York',
                     'Berlin',
                     'New Delhi',
                     'Moscow',
                     'Tokyo',
                     'Dubai'],
        'tz': ['US/Pacific',
               'US/Eastern',
               'Europe/Berlin',
               'Asia/Kolkata',
               'Europe/Moscow',
               'Asia/Tokyo',
               'Asia/Dubai'],
        'visit_dt': pd.date_range(start='22:00',periods=7, freq='45min'),
    }).set_index('visit_dt')
df

                        Location             tz
visit_dt
2022-09-01 22:00:00  Los Angeles     US/Pacific
2022-09-01 22:45:00     New York     US/Eastern
2022-09-01 23:30:00       Berlin  Europe/Berlin
2022-09-02 00:15:00    New Delhi   Asia/Kolkata
2022-09-02 01:00:00       Moscow  Europe/Moscow
2022-09-02 01:45:00        Tokyo     Asia/Tokyo
2022-09-02 02:30:00        Dubai     Asia/Dubai

In [52]:
df = df.tz_localize('UTC')

In [54]:
df_hq = df.tz_convert('Asia/Tokyo')
df_hq

                              Location             tz
visit_dt
2022-09-02 07:00:00+09:00  Los Angeles     US/Pacific
2022-09-02 07:45:00+09:00     New York     US/Eastern
2022-09-02 08:30:00+09:00       Berlin  Europe/Berlin
2022-09-02 09:15:00+09:00    New Delhi   Asia/Kolkata
2022-09-02 10:00:00+09:00       Moscow  Europe/Moscow
2022-09-02 10:45:00+09:00        Tokyo     Asia/Tokyo
2022-09-02 11:30:00+09:00        Dubai     Asia/Dubai

In [55]:
df['local_dt'] = df.index
df['local_dt'] = df.apply(lambda x: pd.Timestamp.tz_convert(x['local_dt'], x['tz']), axis=1)
df

,Location,tz,local_dt
visit_dt,,,
2022-09-01 22:00:00+00:00,Los Angeles,US/Pacific,2022-09-01 15:00:00-07:00
2022-09-01 22:45:00+00:00,New York,US/Eastern,2022-09-01 18:45:00-04:00
2022-09-01 23:30:00+00:00,Berlin,Europe/Berlin,2022-09-02 01:30:00+02:00
2022-09-02 00:15:00+00:00,New Delhi,Asia/Kolkata,2022-09-02 05:45:00+05:30
2022-09-02 01:00:00+00:00,Moscow,Europe/Moscow,2022-09-02 04:00:00+03:00
2022-09-02 01:45:00+00:00,Tokyo,Asia/Tokyo,2022-09-02 10:45:00+09:00
2022-09-02 02:30:00+00:00,Dubai,Asia/Dubai,2022-09-02 06:30:00+04:00

In [56]:
df.tz_localize('UTC').tz_convert('Asia/Tokyo')

TypeError: Already tz-aware, use tz_convert to convert.

In [58]:
np.random.seed(10)
df = pd.DataFrame(
    {
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
    }).set_index('purchase_dt')
df

             production
purchase_dt
2021-01-01           13
2021-01-02           17
2021-01-03            8
2021-01-04           19
2021-01-05            4
2021-01-06            5

In [59]:
df['day'] = df.index.day_name()
df

             production        day
purchase_dt
2021-01-01           13     Friday
2021-01-02           17   Saturday
2021-01-03            8     Sunday
2021-01-04           19     Monday
2021-01-05            4    Tuesday
2021-01-06            5  Wednesday

In [60]:
df['BusinessDay'] = df.index + pd.offsets.BDay(0)
df['BDay Name'] = df['BusinessDay'].dt.day_name()
df

             production        day BusinessDay  BDay Name
purchase_dt
2021-01-01           13     Friday  2021-01-01     Friday
2021-01-02           17   Saturday  2021-01-04     Monday
2021-01-03            8     Sunday  2021-01-04     Monday
2021-01-04           19     Monday  2021-01-04     Monday
2021-01-05            4    Tuesday  2021-01-05    Tuesday
2021-01-06            5  Wednesday  2021-01-06  Wednesday

In [61]:
df.groupby(['BusinessDay', 'BDay Name']).sum()

                       production
BusinessDay BDay Name
2021-01-01  Friday             13
2021-01-04  Monday             44
2021-01-05  Tuesday             4
2021-01-06  Wednesday           5

In [63]:
df['QuarterEnd'] = df.index + pd.offsets.QuarterEnd(0)
df['MonthEnd'] = df.index + pd.offsets.MonthEnd(0)
df['BusinessDay'] = df.index + pd.offsets.BDay(0)
df

,production,day,BusinessDay,BDay Name,QuarterEnd,MonthEnd
purchase_dt,,,,,,
2021-01-01,13,Friday,2021-01-01,Friday,2021-03-31,2021-01-31
2021-01-02,17,Saturday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-03,8,Sunday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-04,19,Monday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-05,4,Tuesday,2021-01-05,Tuesday,2021-03-31,2021-01-31
2021-01-06,5,Wednesday,2021-01-06,Wednesday,2021-03-31,2021-01-31

## Handle holidays

### https://tobi-olabode.medium.com/pandas-for-uk-hoildays-f561558e854f

In [66]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [68]:
df = pd.DataFrame(
    {
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
        
    }
).set_index('purchase_dt')
df

             production
purchase_dt
2021-01-01           15
2021-01-02           16
2021-01-03           13
2021-01-04           17
2021-01-05            4
2021-01-06           17

In [69]:
USFederalHolidayCalendar.rules

[Holiday: New Years Day (month=1, day=1, observance=<function nearest_workday at 0x00000227C1D1C550>),
 Holiday: Martin Luther King Jr. Day (month=1, day=1, offset=<DateOffset: weekday=MO(+3)>),
 Holiday: Presidents Day (month=2, day=1, offset=<DateOffset: weekday=MO(+3)>),
 Holiday: Memorial Day (month=5, day=31, offset=<DateOffset: weekday=MO(-1)>),
 Holiday: July 4th (month=7, day=4, observance=<function nearest_workday at 0x00000227C1D1C550>),
 Holiday: Labor Day (month=9, day=1, offset=<DateOffset: weekday=MO(+1)>),
 Holiday: Columbus Day (month=10, day=1, offset=<DateOffset: weekday=MO(+2)>),
 Holiday: Veterans Day (month=11, day=11, observance=<function nearest_workday at 0x00000227C1D1C550>),
 Holiday: Thanksgiving (month=11, day=1, offset=<DateOffset: weekday=TH(+4)>),
 Holiday: Christmas (month=12, day=25, observance=<function nearest_workday at 0x00000227C1D1C550>)]

In [70]:
df['USFederalHolidays'] = df.index + pd.offsets.CDay(calendar=USFederalHolidayCalendar())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:702: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  warnings.warn(

In [71]:
df

             production USFederalHolidays
purchase_dt
2021-01-01           15        2021-01-04
2021-01-02           16        2021-01-04
2021-01-03           13        2021-01-04
2021-01-04           17        2021-01-05
2021-01-05            4        2021-01-06
2021-01-06           17        2021-01-07

## custom holidays

In [72]:
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, \
    DateOffset, MO, next_monday, next_monday_or_tuesday, GoodFriday, EasterMonday


class Hoildays_England_and_Wales(AbstractHolidayCalendar):
    rules = [
        Holiday('New Years Day', month=1, day=1, observance=next_monday),
        GoodFriday,
        Holiday('Early May Bank Holiday', month=5, day=1, offset=DateOffset(weekday=MO(1))),
        Holiday('Spring Bank Holiday', month=5, day=31, offset=DateOffset(weekday=MO(-1))),
        Holiday('Summer Bank Holiday', month=8, day=31, offset=DateOffset(weekday=MO(-1))),
        Holiday('Christmas Day', month=12, day=25, observance=next_monday),
        Holiday('Boxing Day', month=12, day=26, observance=next_monday_or_tuesday)
    ]

In [74]:
Holiday('Early May Bank Holiday', month=5, day=1, offset=DateOffset(weekday=MO(1)))

Holiday: Early May Bank Holiday (month=5, day=1, offset=<DateOffset: weekday=MO(+1)>)